/******************************
GENERAL
******************************/
html {
	border-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



/******************************
HEADING
******************************/

header {
	float: left;
	margin: 30px 0 6.5px 0;
	width: 100%;
	height: 40px;	
}

}

/*LOGO TEXT*/
.logo-container, .logo {
	display: inline-block;
}

.logo-container {
	margin: 0;
}

.logo {
	color: #33322D;
	letter-spacing: 3px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	vertical-align: middle;
	-webkit-transition:color 300ms;
	transition:all 300ms ease-in-out 0;
}

.logo:hover {
	color: #986C2B;
}


/******************************
NAVIGATION
******************************/

nav {
	text-align: center;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	vertical-align: middle;
}

nav a {
	color: #33322D;
	border-bottom:2px solid transparent;
	-webkit-transition:border-bottom 300ms;
	transition:all 300ms ease-in-out 0;
}

nav a.selected, nav a:hover {
	border-bottom: 2px solid #986C2B;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0px;
	line-height: 1.5em;
}

nav ul {
	list-style: none;
	margin: 15px 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 700;
	padding: 5px 9px;
}

/******************************
FOOTER
******************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding: 50px 0 50px 0;
	color: #999;
	clear: both;
}

footer a p {
	padding: 0 9px;
	display: inline-block;
	color: #999;
	margin-bottom: 0;
}



/******************************
PAGE: GALLERY
******************************/

#gallery {
	margin: 0px;
	padding: 0;
	list-style: none;
}

#gallery li {
	position: relative;
	float: left;
	width: 45%;
	margin: 2.5%;
	display: inline-block;
}

#gallery li a .project-title,
#gallery li a img {
	-webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

#gallery li a:hover .project-title {
	opacity: 1;
}

#gallery li a:hover img {
	opacity: .5;
	-webkit-filter: grayscale(1);
  	 filter: grayscale(1);
}

span.project-title {
	color: #33322D;
	opacity: 0;
	font-size: 14px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.project {
    position: relative;
}



/******************************
PAGE: PORTFOLIO PIECE
******************************/

.project-date {
	color: #999;
	font-size: 12px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 10px;
	margin: 0px;
}

.project-headline {
	text-align: center;
	font-size: 34px;
}

.project-content {
	max-width: 700px;
	margin: 30px auto 0 auto;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
}

.images img{
	max-width: 700px;
	margin:auto;
	display: block;
}
/******************************
PAGE: ABOUT
******************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0px auto;
	border-radius: 100%;
	padding: 2.5%;
}

#info {
	text-align: center;
}


/******************************
COLORS
******************************/

/*SITE BODY*/

body {
	color: #fff;
	color: #33322D;
}

/*LINKS*/

a {
	color: #33322D;
}
