/******************************
GENERAL
******************************/
html {
	border-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



/******************************
HEADING
******************************/

header {
	float: left;
	margin: 30px 0 30px 0;
	width: 100%;
	height: 40px;
	
}

/*LOGO TEXT*/
.logo-container, .logo {
	display: inline-block;
}

.logo-container {
	margin: 0;
	width: 250px;
}

.logo {
	letter-spacing: 3px;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
	vertical-align: middle;
}



/******************************
NAVIGATION
******************************/

nav {
	text-align: center;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	vertical-align: middle;
}

nav a.selected, nav a:hover {
	border-bottom: 2px solid #999;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0px;
	line-height: 1.5em;
}

nav ul {
	list-style: none;
	margin: 15px 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 700;
	padding: 5px 10px;
}

/******************************
FOOTER
******************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #999;
	clear: both;
}

footer p {
	float: left;
}

footer a p {
	padding: 0 10px;
	display: inline-block;
	float: right;
	color: #999;
}



/******************************
PAGE: PORTFOLIO
******************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5% 2.5% 0px 2.5%;
}

#gallery li p {
	max-width: 282px;
	text-align: center;
	margin: 0;
	padding-top: 5%;
	font-size: 0.75em;
}



/******************************
PAGE: ABOUT
******************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0px auto;
	border-radius: 100%;
	padding: 2.5%;
}

#info {
	text-align: center;
}


/******************************
COLORS
******************************/

/*SITE BODY*/

body {
	background-color: #fff;
	color: #282828;
}

/*LINKS*/

a {
	color: #000;
}
