/*--------------------------------------------*/
/*             FOUNDATION OVERRIDE            */
/*--------------------------------------------*/

body {
	font-family: 'Montserrat' sans-serif;
}

.row,
.row2 {
	max-width: 100%;
}

h1 {
	color: #986C2B;
	font-family: 'Montserrat' sans-serif;
	font-weight: 700;
}

h3 {
	color: #986C2B;
	font-family: 'Montserrat' sans-serif;
}

::selection {
  background: #986C2B;
  color: #fff; /* WebKit/Blink Browsers */
}



/*--------------------------------------------*/
/*                LANDING PAGE                */
/*--------------------------------------------*/

.large-12.columns.index {
	background: url('../Images/Background/Colin-Colin-0037BW.jpg') no-repeat center 0 fixed;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100vh;
}


.intro-content {
	color: #986C2B;
	margin: 0 auto;
	text-align: center;
	left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 60%;
    width: 100%;
    -webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 3s; /* Firefox < 16 */
    -ms-animation: fadeIn 3s; /* Internet Explorer */
    -o-animation: fadeIn 3s; /* Opera < 12.1 */
    animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {opacity: 0; }
	to {opacity: 1;transform: none; }
}

.fadeIn {
  animation-name: fadeIn;
}

.intro-title {
	font-size: 3em;
	letter-spacing: 3px;
}

h3.intro-title {
	font-size: 1.25em;
	margin: 0 auto;
	letter-spacing: 3px;
}



/*--------------------------------------------*/
/*              HEADING AND LOGO              */
/*--------------------------------------------*/


.navbar-fixed {
	background-color: rgba(255, 255, 255, .95);
	margin-bottom: 100px;
    z-index: 100;
  	position: fixed;
    width: 100%;
}


.logo-container, .logo {
	display: inline-block;
}

.logo-container {
	padding-left: 3%;
	width: 50%;
	margin: 0;
	height: 100px;
}

.logo {
	color: #33322D;
	letter-spacing: 3px;
	height: 40px;
	font-size: 20px;
	line-height: 100px;
	vertical-align: middle;
	-webkit-transition:color 300ms;
	transition:all 300ms ease-in-out 0;
}

.logo:hover {
	color: #986C2B;
}



/*--------------------------------------------*/
/*                 NAVIGATION                 */
/*--------------------------------------------*/

nav {
	padding-right: 3%;
	text-align: right;
	width: 50%;
	float: right;
	height: 100px;
	font-size: 14px;
	line-height: 100px;
	vertical-align: middle;
	letter-spacing: 1px;
}

nav a {
	color: #33322D;
	-webkit-transition:color 300ms;
	transition:all 300ms ease-in-out 0;
}

nav a.selected, nav a:hover {
	color: #986C2B;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0px;
	line-height: 1.5em;
}

nav ul {
	list-style: none;
	margin: 15px 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 700;
	padding: 5px 9px;
}



/*--------------------------------------------*/
/*                    GALLERY                 */
/*--------------------------------------------*/

.placeholder {
	width: 100%;
	height: 90px;
	display: none;
}

.placeholder-visible {
	display: inline-block;
	width: 100%;
	height: 90px;
}

.large-4.medium-4.small-12.columns {
	padding: 0;
}

.block1 {
	position: relative;
	display: block;
	width: 100%;
}

.block1 img,
.block2 img,
.block3 img,
.block4 img,
.block5 img,
.block6 img {
	-webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.large-4.medium-4.small-12.columns a:hover img {
	opacity: .25;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.large-4.medium-4.small-12.columns a:hover .project-title {
	color: #986C2B;
}

span.project-title {
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
	text-align: center;
    margin: -12px auto;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

.block2 {
	position: relative;
	display: block;
}

.block3 {
	position: relative;
	display: block;
}

.block4 {
	display: block;
	width: 100%;
}

.block5 {
	display: block;
	width: 100%;
}

.block6 {
	display: block;
	width: 100%;
}



/*--------------------------------------------*/
/*           PAGE: PORTFOLIO PIECE            */
/*--------------------------------------------*/

.whitespace {
	width: 100%;
	height: 100px;
}

.small-3.columns {
	width: 33.33333%;
	padding-left: 3%;
}

.small-3.columns h2 {
	font-family: 'Montserrat' sans-serif;
	color: #33322D;
	font-weight: 700;
	margin: 0 auto 15px auto;
	line-height: 1.1em;
}

.small-3.columns .project-date {
	font-family: 'Open-Sans' sans-serif;	
	color: #999;
	font-size: 12px;
	margin: 0 auto;
}

.small-3.columns .project-content {
	font-family: 'Open-Sans' sans-serif;
	color: #33322D;
	font-size: 14px;
	margin: 0 auto;
}

.small-9.columns {
	width: 66.66666%;
	padding-right: 3%;
	padding-left: 0;
}

.small-9.columns img {
	width: 100%;
	padding-bottom: 15px;
}

.back {
	text-align: center;
	margin-top: 50px;
}

.back a {
	color: #33322D;
	font-size: 14px;
	-webkit-transition:color 300ms;
	transition:all 300ms ease-in-out 0;
}

.back a:hover {
	color: #986C2B;
}

.project-content span {
	display: block;
	margin-bottom: 15px;
}




/*--------------------------------------------*/
/*               PAGE: ABOUT ME               */
/*--------------------------------------------*/

.large-12.columns.about {
	background: url('../Images/Background/Colin-Colin-0013.jpg') no-repeat center 25%;
	background-size: cover;
	height: 450px;
}

.row.about {
	padding: 50px 10% 0;
}

.small-9.columns.about {
	width: 66.6666%;
	min-height: 200px;
	padding: 0;
}

.small-3.columns.about {
	width: 33.33333%;
	min-height: 200px;
	padding: 0;
}

.about-title {
	letter-spacing: 1px;
	font-weight: 700;
	color: #986C2B;
}

.about-content {
	font-family: 'Open-Sans' sans-serif;
	font-size: 12px;
	width: 90%;
}

.about-content span {
	display: block;
	margin-bottom: 15px;
}

ul.about-content {
	margin: 0;
}

.about-content li {
	list-style: none;
	padding: 0;
	line-height: 24px
}

.about-content li a {
	color: #33322D;
	-webkit-transition:color 300ms;
	transition:all 300ms ease-in-out 0;
}

.about-content li a:hover {
	color: #986C2B;
}



/*--------------------------------------------*/
/*                PAGE: RESUME                */
/*--------------------------------------------*/

.large-12.columns.resume {
	width: 100%;
	height: 300px;
	background-color: blue;
}

.row.resume {
	margin: 0;
	padding: 0 10% 0;
}

.small-9.columns.resume {
	width: 66.66666%;
	min-height: 200px;
	padding: 0;
}

.small-3.columns.resume {
	width: 33.33333%;
	min-height: 200px;
}

.resume-category {
	letter-spacing: 1px;
	font-weight: 700;
	color: #986C2B;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
}

.resume-title {
	font-size: 14px;
	width: 80%;
	float: left;
	margin: 0;
}

.resume-title span {
	letter-spacing: 1px;
	font-weight: 700;
}

.resume-date {
	text-align: right;
	width: 20%;
	float: right;
	margin: 0;
	font-family: 'Open-Sans' sans-serif;
	color: #999;
	font-size: 12px;
}

.resume-duties {
	clear: both;
	padding-left: 10%;
	font-family: 'Open-Sans' sans-serif;
	font-size: 14px;
	margin: 0 0 15px 0
}

.right-category {
	letter-spacing: 1px;
	font-weight: 700;
	color: #986C2B;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
}

.right-title {
	font-size: 14px;
	width: 100%;
	float: left;
	margin: 0;
	font-weight: 700;
	letter-spacing: 1px;
}

.right-date {
	color: #999;
	font-size: 12px;
	font-family: 'Open-Sans' sans-serif;
	margin: 0;
}

.right-description {
	font-family: 'Open-Sans' sans-serif;
	font-size: 14px;
	margin: 0 0 15px 0;
	list-style-position: inside;
}

.download {
	margin-top: 30px;
	width: 175px;
}


.download p {
	color: #33322D;
	border: 1px solid #33322D;
	font-weight: 700;
	font-size: 12px;
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	margin: 0;
	-webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.download p:hover {
	color: #fff;
	background-color: #986C2B;
	border: 1px solid #986C2B;
}



/*--------------------------------------------*/
/*                    FOOTER                  */
/*--------------------------------------------*/

footer {
	position: relative;
	height: 150px;
	width: 100%;
	clear: both;
	font-size: 0.75em;
}

.footer-content {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -22.5px;
	height: 45px;
}

.pull-left {
	width: 50%;
	display: inline-block;
	line-height: 45px;
	float: left;
	text-align: left;
	padding-left: 3%;
}

.pull-left p {
	font-family: 'Open-Sans' sans-serif;
	line-height: 45px;
	font-size: 1em;
	margin:0;
	color: #999;
}

.pull-right {
	height: 45px;
	width: 50%;
	float: right;
	text-align: right;
	padding-right: 3%;
}

.pull-right a {
	display: inline-block;
	line-height: 45px;
}

.pull-right a img {
	vertical-align: middle;
	margin:0;
	width: 29px;
	height: 29px;
}

.pull-right a:hover {
	color: #986C2B;
}

/*--------------------------------------------*/
/*                    @MEDIA                  */
/*--------------------------------------------*/

@media (max-width: 640px) {
	.block1,
	.block2,
	.block3,
	.block4,
	.block5,
	.block6 {
		margin: 0;
		height: 100%;
	}

	.logo-container {
		text-align: center;
		width: 100%;
		height: 50px;
		padding-left: 0;
	}

	nav {
		text-align: center;
		width: 100%;
		padding-right: 0;
		height: 50px;
		line-height: 25px;
	}

	.logo {
		line-height: 75px;
	}

	.intro-title {
		font-family: 'Montserrat' sans-serif;
		font-size: 2em;
	}

	.small-3.columns {
		width: 100%;
		text-align: center;
	}

	.small-9.columns {
		width: 100%;
		padding: 0;
		margin-top: 45px;
	}

	.small-9.columns.about {
		margin-top: 0;
		width: 100%;
	}

	.small-3.columns.about {
		text-align: left;
		width: 100%;
	}

	.about-content {
		width: 100%;
	}

	.small-9.columns.resume {
		margin-top: 0;
		width: 100%;
	}

	.small-3.columns.resume {
		text-align: left;
		width: 100%;
		padding: 0;
	}

	.resume-title {
		width: 100%;
	}
	
	.resume-date {
		float: left;
		text-align: left;
		width: 100%;
	}

	.resume-duties {
		padding-left: 0;
		list-style-position: inside;
	}

	.download {
		margin: 0 auto;
	}

	.large-12.columns {
	background: url('../Images/Background/Colin-Colin-0037BW.jpg') no-repeat center 0;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    background-attachment: scroll;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100vh;
}

}






