/******************************
MIN WIDTH
******************************/

@media screen and (min-width: 480px) {

/******************************
TWO COLUMN LAYOUT
******************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}

	footer p {
		float: left;
	}

	footer a p {
		float: right;
	}



/******************************
PAGE: PORTFOLIO
******************************/

	.project-content {
		max-width: 24%;
		float: left;
		display: inline-block;
	}

	.project-content h1 {
		max-width: 24%;
		text-align: left;
	}

	.project-content p {
		text-align: left;
		margin: 20px 0 0 0;
	}

	a .back {
		text-align: center;
		padding-top: 30px;
	}

	#gallery li {
		width: 28.3333%;
	}

}



@media screen and (min-width: 660px) {

/******************************
NAVIGATION
******************************/

	nav {
		float: right;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}

	.logo-container {
		width: 45%;
		margin-left: 5%;
	}

	.logo {
		float: left;
		text-align: left;
	}
}

@media screen and (min-width: 1010px) {
	.images img {
		float: right;
		display: inline-block;
	}
}



/******************************
MAX WIDTH
******************************/

@media screen and (max-width: 480px) {
	p span {
		padding-top: 130px;
	}
}



@media screen and (max-width: 660px) {
	header {
		text-align: center;
		margin-bottom: 60px;
	}

	.intro-title {
		font-size: 2em;
	}

	.intro-content img {
		height: 50px;
		width: 50px;
	}
}



@media screen and (max-width: 1010px) {
	.project-content {
		max-width: 100%;
	}

	.project-content h1 {
		text-align: center;
		max-width: 100%;
	}

	.project-content p {
		text-align: center;
		max-width: 100%;
	}

}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


