@media screen and (min-width: 480px) {
	
	/******************************
	TWO COLUMN LAYOUT
	******************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}

	footer p {
	float: left;
	}

	footer a p {
		float: right;
	}


	/******************************
	PAGE: PORTFOLIO
	******************************/

#gallery li {
	width: 28.3333%;
	}

}

@media screen and (min-width: 660px) {


	/******************************
	NAVIGATION
	******************************/

	nav {
		float: right;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}

	.logo-container {
		width: 45%;
		margin-left: 5%;
	}

	.logo {
		float: left;
		text-align: left;
	}
}

@media screen and (max-width: 660px) {
	header {
		text-align: center;
		margin-bottom: 60px;
	}
}